@charset "utf-8";
/* CSS Document */

#box{
	background-color:black;
	overflow:hidden;
	width:900px;
	padding:10px 10px 10px 20px;
	margin:auto;
}
#header{
	background-color:red;
	width:101%;
	border:1px solid white;
	margin-bottom:20px;
	margin-left:-10px;
}

#content{
	background-color:yellow;
	float:left;
	width: 70%;
	margin-left:-10px;
	margin-right:10px;
}

#sidebar{
	background-color:green;
	float:left;
	width: 30%;
}

#footer{
	float:left;
	background-color:#C0C;
	border:1px;
	border-style:solid;
	width:101%;
	margin-top:20px;
	margin-left:-10px;
}
